<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saufio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="schulzUndWitzelGbR.App.saufio.sucht"
            android:exported="false"
            ></activity>
        <activity android:name="schulzUndWitzelGbR.App.saufio.Shop"
            android:exported="false"
            />
        <activity android:name="schulzUndWitzelGbR.App.saufio.Einstellungen"
            android:exported="false"

            />
        <activity android:name="schulzUndWitzelGbR.App.saufio.Credits"
            android:exported="false"

            />
        <activity android:name="schulzUndWitzelGbR.App.saufio.AC_bearbeiten"
            android:exported="false"

            />
        <activity android:name="schulzUndWitzelGbR.App.saufio.ac_aufgaben"
            android:exported="false"

            />
        <activity android:name="schulzUndWitzelGbR.App.saufio.Hauptspiel"
            android:exported="false"

            />
        <activity
            android:name="schulzUndWitzelGbR.App.saufio.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3630716516267873~2108888515" />
    </application>

</manifest>